:root {
   background-color: #759ea1;
}
body {
    background-color: #bfbba8;
}

header {
    background-image: url("../images/beach-screenshot.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;     /* L & H */
    background-color: #bfb89b;
    border: 1px solid black;
    padding: 10px;
    min-height: 15vh;
}

main {
    background-color: #9ab1b3;
    border: 1px solid black;
    padding: 10px;
    min-height: 70vh;
}
footer {
    /* display: flex; */
    background-color: #bfb89b;
    border: 1px solid black;
    padding: 10px;
    min-height: 10vh;
    justify-content: center;
}