:root {
   background-color: #dbd9ce;
}
body {
    background-color: #bfbba8;
}

header {
    background-size: 100% 100%;     /* L & H */
    background-color: #d1c7a7;
    padding: 10px;
    min-height: 15vh;
    margin-right: 0;
}

header div h2 {
  font-size: 2em;
}

.flex-container {
    display: flex;
    width: auto;
    position: sticky;
    justify-content: space-evenly;
    z-index: 9;
  }

  .left-header {
    display: flex;
    margin-right: 80vh;
    margin-top: 3vh;
    width: 10vh;
    max-height: 6vh;
    justify-content: center;
  }

  .right-header {
    display:flex;
    border: 2px solid black;
    margin-top: 3vh;
    margin-left: 25vh;
    background-color: #dbd9ce;
    width: 10vh;
    max-height: 5vh;
    justify-content: center;
  }
  
  .far-right-header {
    display:flex;
    border: 2px solid black;
    margin-top: 3vh;
    background-color: #dbd9ce;
    width: 10vh;
    max-height: 5vh;
    justify-content: center;
  }

.container {
  display: flex;
  width: 100%;
  position: sticky;
  justify-content: space-evenly;
}
main {
   background-color: #808079;
     /* border: 1px solid black; */
    padding: 10px;
    min-height: 70vh;
}
section {
  flex: 0 1 80%;
  background-color: #b2b7bf;
  color: white;
  margin: 0.5%;
  /* border-left: 10px solid black; */
}
.subpage-container {
  display:flex;
  flex-direction: column; 
  background-color: #ccc9c0;
}

.subpage {
  display: flex;
  flex-direction: row;
  margin: 2em;

}

.subpage p {
  padding: 5px;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  color: #33312a;
  font-size: 1.15em;
  font-weight: bold;
}
.subpage div a img {
  min-width: 10vh;
  max-width: 50vh;
  border-radius: 15px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

aside {
  flex: 0 1 20%;
  min-width: 300px;
  background-color: #2b5d6e;
  color: white;
  margin: 0.5%;
  padding: 5px;
  padding-left: 15px;
  border-left: 10px solid black;
  font-size: 1.25em;
}



section {
  max-width: 80vh;
}



footer {
    display: flex;
    justify-content: center;
    background-color: #d1c7a7;
    /* border: 1px solid black; */
    padding: 10px;
    min-height: 20vh;
    justify-content: center;
}


footer div {
    text-align: center;
  }

.affiliate-container {
  display:flex;
  flex-direction: column; 
  background-color: #ccc9c0;
}

.affiliates {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  padding-bottom: 3em;
  width: 100%;
  margin-right: 2em;
  
}
.affiliates img {
  width: 25em;
  height: 10em;
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 15px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.affiliates h2 {
  text-align: center;
  color: #33312a;
}
.affiliates div ul li {
  list-style-type: none;
  margin-bottom: 0.5em;
  color: #4d493f;
  margin-right: 2em;
  font-size: 1.25em;
}
.partners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 25px solid black; */
}

.partners a {
  margin-top: 0.5em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-bottom: 3.5em;
  padding: 20px;
  border: 2px solid black;
}
  /* back to top button */

/* back to top button */
#myBtn {
    /* Hidden by default when 'display:none;' active*/
    display:none;
    position: fixed;
    bottom: 0.5em;
    right: 20em;
    left: 20em;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-image: linear-gradient(#575751, #808079, #808079,#FFFFF0);
    color: black;
    font-weight: bold; 
    cursor: pointer; 
    padding: 8px; 
    border-radius: 15px; 
    font-size: 17px; 
    margin-top: 3.5em;
  }
  
  #myBtn:hover {
    background-color: #4d7887;
    font-weight: bold;
  }